body {
  font-family: Arial, sans-serif;
  text-align: center;
/*  text in body should be horizontal placement*/
  margin: 20px;
}
input {
  margin: 5px;
  padding: 5px;
/*  text inside keeps in distance from the border*/
  font-size: 16px;
}
button {
  padding: 5px 10px;
  font-size: 16px;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
/*remove the space between form and form, let border combine*/
  width: 50%;
/*  the width of the table is half width of the page*/
}
th, td {
/*  th:表頭單元格, td: 普通單元格;*/
  padding: 10px;
  text-align: center;
}
tfoot {
  font-weight: bold;
}